body{background-color: lavender; 
    }
ul { border-style:double;
    padding:5px;
    border:5px solid black;
    font-family:copperplate;
    background-color:pink; 
    color:purple; 
   } 

.Nav{ 
  Display:flex;
  justify-content:space-around;
  margin:50px;
  border:5px solid black;
  font-family:Georgia; 
  background-color:purple;
  color:blue;
  }
  a:hover {
  background-color: yellow;
}

p{  width: 600px;
  color:#093658; 
  border:5px groove #7f2499;
   background-color:#ffb5af;
   font-family:Monaco;
   font-size:15px; }


.flex{ display: flex;
justify-content:center;
     }

.lang{ width: 300px;
  border:5px groove #7f2499;
   background-color:#ffb5af;
   font-family:Monaco;
   font-size:15px;
  }  
